# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local data / large game files & saves (don't commit copyrighted game data)
data/local/
*.hoi4
*.mod.local

# Env
.env
